<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.1.xsd">

    <bean id="settings" class="com.lingtoo.common.setting.SettingsFactoryBean"/>


    <bean id="applicationProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <bean class="com.lingtoo.common.setting.PropertiesFactoryBean">
                <property name="settings" ref="settings"/>
            </bean>
        </property>
    </bean>

    <context:property-placeholder properties-ref="applicationProperties" />
</beans>